---
import Explore from '../components/index/Explore.astro';
import Hero from '../components/index/Hero.astro';
import Layout from '../layouts/Layout.astro';
import Insight from '../components/index/Insight.astro'
---

<Layout title="EFL Global Shipping and Logistics Services">
	<Hero />
	<section>
		<Explore />
		<Insight/>
	</section>	
</Layout>