---
import Explore from '../components/index/Explore.astro';
import Hero from '../components/index/Hero.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="EFL Global Shipping and Logistics Services">
	<Hero />
	<section>
		<Explore />

	</section>
</Layout>