---
import '../css/footer.css';
---

<footer role="contentinfo">
    <div class="divi"></div>
    <div class="content">
      <div class="region region-footer">
        <nav role="navigation" aria-labelledby="block-footer-menu" id="block-footer"
          class="block block-menu navigation menu--footer">
          <h2 class="visually-hidden" id="block-footer-menu">Footer</h2>

          <ul class="menu">
            <li class="menu-item menu-item--expanded">
              <span>Transportation</span>
              <ul class="menu">
                <li class="menu-item">
                  <a href="air.html">Air</a>
                </li>
                <li class="menu-item">
                  <a href="ocean.html">Ocean</a>
                </li>
                <li class="menu-item">
                  <a href="ground.html">Ground</a>
                </li>
                <li class="menu-item">
                  <a href="project-cargo.html">Project Cargo</a>
                </li>
              </ul>
            </li>
            <li class="menu-item menu-item--expanded">
              <span>Customs &amp; Compliance</span>
              <ul class="menu">
                <li class="menu-item">
                  <a href="customs-brokerage.html">Customs
                    Brokerage</a>
                </li>
                <li class="menu-item">
                  <a href="trade-consulting.html">Trade
                    Consulting</a>
                </li>
              </ul>
            </li>
            <li class="menu-item menu-item--expanded">
              <span>Warehouse and Distribution</span>
              <ul class="menu">
                <li class="menu-item">
                  <a href="cross-dock-and-transloading.html">Cross
                    Dock and Transloading</a>
                </li>
                <li class="menu-item">
                  <a href="consolidation-services.html">Consolidation Services</a>
                </li>
                <li class="menu-item">
                  <a href="value-added-services.html">Value-Added
                    Services</a>
                </li>
                <li class="menu-item">
                  <a href="storage-solutions.html">Storage
                    Solutions</a>
                </li>
              </ul>
            </li>
            <li class="menu-item menu-item--expanded">
              <span>Supply Chain</span>
              <ul class="menu">
                <li class="menu-item">
                  <a href="order-management.html">Order
                    Management</a>
                </li>
                <li class="menu-item">
                  <a href="4pl.html">4PL</a>
                </li>
              </ul>
            </li>
            <li class="menu-item menu-item--expanded">
              <span>Company</span>
              <ul class="menu">
                <li class="menu-item">
                  <a href="company-overview.html">Overview</a>
                </li>
                <li class="menu-item">
                  <a href="/news.html" title="News">News</a>
                </li>
                <li class="menu-item">
                  <a href="/events.html">Events</a>
                </li>
                <li class="menu-item">
                  <a href="global-goodness.html">Sustainability</a>
                </li>
                <li class="menu-item">
                  <a href="locations.html">Locations</a>
                </li>
                <li class="menu-item">
                  <a href="/global-reach.html">Global Reach</a>
                </li>
                <li class="menu-item">
                  <a href="https://efl.global/company/careers">Careers</a>
                </li>
                <li class="menu-item">
                  <a href="/awards-certifications.html">Awards &amp; Certifications</a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="content">
        <div class="region region-footer-bottom">
          <div id="block-sitebranding" class="block block-system block-system-branding-block">
            <a href="index.html" rel="home" class="site-logo">
              <img src="images/logo.svg" alt="Home" />
            </a>
          </div>
          <div id="block-simplesitesettingsblock-2"
            class="block block-site-settings block-simple-site-settings-block">
            <div
              class="clearfix text-formatted field field--name-field-copyright field--type-text field--label-hidden field__item">
              © 2024 EFL
            </div>
          </div>
          <nav role="navigation" aria-labelledby="block-legalmenu-menu" id="block-legalmenu"
            class="block block-menu navigation menu--legal-menu">
            <h2 class="visually-hidden" id="block-legalmenu-menu">
              Legal Menu
            </h2>

            <ul class="menu">
              <li class="menu-item">
                <a href="privacy-statement.html">Privacy Policy</a>
              </li>
              <li class="menu-item">
                <a href="terms-conditions.html">Terms &amp; Conditions</a>
              </li>
              <li class="menu-item">
                <a href="equal-opportunity-employer.html">Equal Opportunity Employer</a>
              </li>
            </ul>
          </nav>
          <div id="block-simplesitesettingsblock-3"
            class="block block-site-settings block-simple-site-settings-block">
            <ul class="social-link-field vertical">
              <li>
                <a href="https://www.facebook.com/efl.global.official" class="" title="Facebook" target="_blank"><i
                    class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="https://www.linkedin.com/company/efl-global" class="" title="LinkedIn" target="_blank"><i
                    class="fa fa-linkedin"></i></a>
              </li>
              <li>
                <a href="https://www.twitter.com/eflglobal_" class="" title="Twitter" target="_blank"><i
                    class="fa-brands fa-x-twitter"></i></a>
              </li>
              <li>
                <a href="http://www.youtube.com/user/ExpoFreigh" class="" title="Youtube Page" target="_blank"><i
                    class="fa fa-youtube"></i></a>
              </li>
              <li>
                <a href="http://www.instagram.com/efl.global" class="" title="Instagram" target="_blank"><i
                    class="fa fa-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>