---
import '../css/header.css';
---
<script src="https://kit.fontawesome.com/d181d1679b.js" crossorigin="anonymous"></script>
<script src="https://cdn.gtranslate.net/widgets/latest/flags.js" defer></script>
<script>
  window.gtranslateSettings = {
    default_language: "en",
    languages: ["en", "fr"],
    wrapper_selector: ".gtranslate_wrapper",
    flag_size: 32,
    alt_flags: { en: "usa" },
  };
</script>
<header role="banner">
        <div class="region region-header-top">
          <div id="block-simplesitesettingsblock" class="block block-site-settings block-simple-site-settings-block">
            <div
              class="clearfix text-formatted field field--name-field-text field--type-text-long field--label-hidden field__item">
              Stay informed! Follow us on
              <a href="https://www.linkedin.com/company/efl-global/">LinkedIn</a>.
            </div>
          </div>
          <nav role="navigation" aria-labelledby="block-servicemenu-menu" id="block-servicemenu"
            class="block block-menu navigation menu--service-menu">
            <h2 class="visually-hidden" id="block-servicemenu-menu">
                Service Menu
              </h2>
            <ul class="menu">
              <li class="menu-item">
                <a href="help.html" class="icon-help">Help</a>
              </li>

              <li class="menu-item menu-item--expanded">
                <a href="#" id="translate-link"><i class="fa-solid fa-globe"></i>&nbsp;Translate</a>
                <ul>
                  <li class="menu-item">
                    <div class="gtranslate_wrapper"></div>
                  </li>
                </ul>
              </li>


              <li class="menu-item menu-item--expanded">
                <a href="index.html" class="icon-sign-in is-active">Sign-In</a>
                <ul class="menu">
                  <li class="menu-item">
                    <a href="https://efl.connectcast.io/">EFL Global Customer Portal</a>
                  </li>
                  <li class="menu-item">
                    <a href="https://marketstatus.efl.global/">EFL Global Market Report</a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>

        <div class="region region-header-bottom">
          <div id="block-efl-branding" class="block block-system block-system-branding-block">
            <a href="index.html" rel="home" class="site-logo">
              <img src="/images/logo.svg" alt="Home" />
            </a>
          </div>
          <nav role="navigation" aria-labelledby="block-mainnavigation-menu" id="block-mainnavigation"
            class="block block-menu navigation menu--main">
            <h2 class="visually-hidden" id="block-mainnavigation-menu">
              Main navigation
            </h2>

            <ul class="menu">
              <li class="menu-item menu-item--expanded">
                <a href="services.html" class="nav-services">Services</a>
                <ul class="menu">
                  <li class="menu-item">
                    <a href="images/services-overview">Overview</a>
                  </li>
                  <li class="menu-item menu-item--expanded">
                    <a href="images/services-overview#transportation" class="fragment-link">Transportation</a>
                    <ul class="menu">
                      <li class="menu-item">
                        <a href="air.html">Air</a>
                      </li>
                      <li class="menu-item">
                        <a href="ocean.html">Ocean</a>
                      </li>
                      <li class="menu-item">
                        <a href="ground.html">Ground</a>
                      </li>
                      <li class="menu-item">
                        <a href="project-cargo.html">Project Cargo</a>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item menu-item--expanded">
                    <a href="/services-overview.html#customsandcompliance" class="fragment-link">Customs &amp;
                      Compliance</a>
                    <ul class="menu">
                      <li class="menu-item">
                        <a href="customs-brokerage.html">Customs Brokerage</a>
                      </li>
                      <li class="menu-item">
                        <a href="trade-consulting.html">Trade Consulting</a>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item menu-item--expanded">
                    <a href="/services-overview.html#warehousinganddistribution" class="fragment-link">Warehousing &amp;
                      Distribution</a>
                    <ul class="menu">
                      <li class="menu-item">
                        <a href="cross-dock-and-transloading.html">Cross Dock and Transloading</a>
                      </li>
                      <li class="menu-item">
                        <a href="consolidation-services.html">Consolidation Services</a>
                      </li>
                      <li class="menu-item">
                        <a href="value-added-services.html">Value Added Services</a>
                      </li>
                      <li class="menu-item">
                        <a href="storage-solutions.html">Storage Solutions</a>
                      </li>
                    </ul>
                  </li>
                  <li class="menu-item menu-item--expanded">
                    <a href="order-management.html">Supply Chain</a>
                    <ul class="menu">
                      <li class="menu-item">
                        <a href="order-management.html">Order Management</a>
                      </li>
                      <li class="menu-item">
                        <a href="4pl.html">4PL</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="menu-item menu-item--expanded">
                <a href="resources-overview.html" class="nav-resources">Resources</a>
                <ul class="menu">
                  <li class="menu-item">
                    <a href="resources-overview.html" class="hide-this" target="_self">Overview</a>
                  </li>
                  <li class="menu-item">
                    <a href="insights.html">Insights</a>
                  </li>
                  <li class="menu-item">
                    <a href="glossary.html">Glossary</a>
                  </li>
                  <li class="menu-item">
                    <a href="help.html">Help</a>
                  </li>
                </ul>
              </li>
              <li class="menu-item menu-item--expanded">
                <a href="company-overview.html">Company</a>
                <ul class="menu">
                  <li class="menu-item">
                    <a href="news.html">News</a>
                  </li>
                  <li class="menu-item">
                    <a href="events.html">Events</a>
                  </li>
                  <li class="menu-item">
                    <a href="sustainability-overview.html">Sustainability</a>
                  </li>
                  <li class="menu-item">
                    <a href="locations.html">Locations</a>
                  </li>
                  <li class="menu-item">
                    <a href="global-reach.html">Global Reach</a>
                  </li>
                  <li class="menu-item">
                    <a href="https://efl.global/company/careers">Careers</a>
                  </li>
                  <li class="menu-item">
                    <a href="awards-certifications.html">Awards &amp;
                      Certifications</a>
                  </li>
                </ul>
              </li>
              <li class="menu-item menu-item--expanded">
                <a href="sustainability-overview.html" class="visually-hidden">Sustainability</a>
                <ul class="menu">
                  <li class="menu-item">
                    <a href="sustainability-overview.html">Overview</a>
                  </li>
                  <li class="menu-item">
                    <a href="global-goodness.html">Global Goodness</a>
                  </li>
                  <li class="menu-item">
                    <a href="environment.html">Environment</a>
                  </li>
                  <li class="menu-item">
                    <a href="people.html">People</a>
                  </li>
                  <li class="menu-item">
                    <a href="images/solutions">Solutions</a>
                  </li>
                  <li class="menu-item">
                    <a href="images/operations">Operations</a>
                  </li>
                  <li class="menu-item">
                    <a href="memberships-partnerships.html">Memberships &amp; Partnerships</a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>

          <div class="efl-autocomplete block block-efl-search block-efl-search-block search-block-form"
            id="block-eflsearchblock">
            <div class="form-toggle-wrapper">
              <div class="search-icon-wrapper">
                <a class="magnify-icon" href="https://efl.global/search?keys="></a>
              </div>
              <div></div>
            </div>
          </div>
          <nav role="navigation" aria-labelledby="block-actionsmenu-menu" id="block-actionsmenu"
            class="block block-menu navigation menu--actions-menu">
            <h2 class="visually-hidden" id="block-actionsmenu-menu">
              Actions Menu
            </h2>

            <ul class="menu">
              <li class="menu-item">
                <a href="https://efl.global/get-quote">Get a Quote</a>
              </li>
            </ul>
          </nav>
          <div id="block-responsivemenumobileicon"
            class="responsive-menu-toggle-wrapper responsive-menu-toggle block block-responsive-menu block-responsive-menu-toggle">
            <!-- <button id="navbar-toggle" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
            &#9776;</button> -->
            <a id="navbar-toggle" data-bs-toggle="offcanvas" data-bs-target="#ocMenu" role="button"
              aria-controls="ocMenu">
              <span class="icon"></span><span class="label">&#9776;</span>
            </a>
          </div>
        </div>
      </header>